table, th, td {
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
}

th, td {
  padding: 16px 8px;
}

table {
  width: 100%;
  border-radius: 2px;
}

th {
  background-color: #f7f7f7;
  font-weight: normal;
  text-align: left;
}

