.actions-td-div-h {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  a {
    text-decoration: none;
  }
}

.actions-td-div-v {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.actions-td-div-v > button, .actions-td-div-h > button, .actions-td-div-v > a > button, .actions-td-div-h > a > button {
  margin: 10px;
  width: 100px;
}

.actionBar {
  position: relative;
  height: 28px;
  margin: 16px 0;
}

.addButton {
  display: flex;
  float: right;
  line-height: 28px;
  background-color: #108ee9;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
  padding: 0 10px;
}

.addButton:disabled {
  background-color: #83c5ff;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
}

.addButton:hover:not(:disabled) {
  transition: 0.3s;
  background-color: #49a9ee;
  border-color: #49a9ee;
}

.cancelButton {
  border: 1px solid #d9d9d9;
  font-size: 12px;
  height: 28px;
}

.cancelButton:hover:not(:disabled) {
  transition: 0.3s;
  color: #108ee9;
  border-color: #108ee9;
}

.editButton {
  display: flex;
  line-height: 28px;
  background-color: #108ee9;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
  text-align: start;
}

.copyButton {
  display: flex;
  line-height: 28px;
  background-color: #008515;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
  text-align: start;
}

.copyButtonArrow {
  display: flex;
  line-height: 28px;
  background-color: #008515;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 40px !important;
  width: 40px !important;
  justify-content: center;
  align-items: center;
}

.copyButton:disabled {
  background-color: #a1a1a1;
  color: #ffffff;
}

.copyButtonArrow:disabled {
  background-color: #a1a1a1;
  color: #ffffff;
}

.refreshButton {
  border: 1px solid #b1b1b1;
  border-radius: 50%;
  float: left;
  font-size: 12px;
  height: 28px;
  width: 28px;
  padding: 4px;
  color: #b1b1b1;

  span {
    font-size: 18px;
  }
}

.refreshButton:hover {
  transition: 0.3s;
  color: #49a9ee;
  border-color: #49a9ee;
}

.deleteButton {
  display: flex;
  float: right;
  line-height: 28px;
  background-color: #e90000;
  color: #ffffff;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
  text-align: start;
}

.viewContentVersion {
  display: flex;
  justify-content: center;
  line-height: 28px;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
  text-align: center;
}

.uploadButton,
.downloadButton {
  display: flex;
  float: right;
  line-height: 28px;
  border: 1px solid #b1b1b1;
  color: #000000;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
}

.uploadButton:disabled,
.downloadButton:disabled {
  color: #b1b1b1;
  font-weight: 500;
  white-space: nowrap;
  font-size: 12px;
  height: 28px;
}
