.modal {
  display: block;
}

.modalBox {
  position: fixed;
  margin: 0 auto;
  top: 5vh;
  max-height: 90vh;
  overflow: auto;
  left: calc(50vw - 250px);
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 3;
}

.modalCloseButton {
  color: #444444;
  position: absolute;
  line-height: 1;
  right: 0;
  top: 0;
  padding: 0;
  z-index: 5;
  background: transparent;
}

.modalCloseButton:disabled {
  opacity: 0.4;
}

.modalHeader {
  position: relative;
  padding: 13px 16px;
  background: #ffffff;
  border-bottom: 1px solid #e9e9e9;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}

.modalBody {
  padding: 16px;
  background: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  border-bottom: 1px solid #e9e9e9;
}

.modalFooter {
  padding: 16px;
  background: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  overflow: hidden
}

.modalClose {
  padding-right: 7px;
  padding-top: 7px;
}

.required {
  display: inline-block;
  margin-left: 4px;
  font-family: SimSun, serif;
  line-height: 1;
  font-size: 14px;
  color: #f04134;
}

.vAlign {
  display: flex;
  align-items: center;
}

.vAlign > label {
  color: #000000;
  font-weight: normal;
}

.vAlign > input:not([type=checkbox]) {
  width: 100%;
}

.vAlign > input[type=checkbox] {
  width: 30px;
}

.vAlign > textarea {
  width: 100%;
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
}

.blurBox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*backdrop-filter: blur(3px);*/
  background-color: #474747;
  opacity: 65%;
  z-index: 2;
  white-space: nowrap;
}
