.sidebar {
  position: relative;
  width: 200px;
  padding: 0;
  margin: 0;
  /* background-color: rgb(107 186 18); */
  background-color: #176129;
  color: #fff;
  box-shadow: 4px -1px 15px rgb(0 0 0 / 18%)
}

.sidebar.minimized {
  display: none;
}

.sidebar > ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar > ul > li {
  /* padding-left: 24px;
  padding-right: 16px; */
  width: 100%;
  font-size: 12px;
  line-height: 42px;
  display: inline-block;
  cursor: pointer;
}

.sidebar > ul > li > a > div {
  padding-left: 24px;
  padding-right: 16px;
}


.sidebarMenuToggle {
  outline: 0;
  color: #fff;
  text-decoration: none;
}

.sidebarHover:not(.sidebarMenuToggle) {
  color: inherit;
  text-decoration: none;
}

.sidebarHover:hover {
  color: #94e74d;
  transition: 0.3s;
}

.sidebarActive > .sidebarHover:hover,
.innerSidebarActive > .sidebarHover:hover {
  color: inherit;
  transition: 0.3s;
}

.sidebar > ul > li > ul {
  list-style: none;
  padding-left: 46px;
  background-color: #074f19;
}

.sidebarUserTable {
  width: 200px;
  height: 60px;
  table-layout: fixed;
  border: 0;
}

.sidebarUserTable > tbody > tr > td {
  padding: 0;
  border: 0;
}

.sidebarImageTD {
  width: 50px;
  height: 50px;
  padding: 0;
}

.sidebarUserTable > tbody > tr > td > span {
  font-size: 14px;
  text-wrap: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  padding: 5px 0 0 5px;
}

.sidebarUserTable > tbody > tr > td > a > button {
  font-size: 14px;
  background: none;
  color: #94e74d;
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 5px;
  vertical-align: top;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.sidebarNoselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sidebarActive {
  /* background-color: #60a116; */
  background-color: #60b418;
  border-right: 3px solid #ffffff;
}

.innerSidebarActive {
  position: relative;
  margin-left: -46px;
  /* margin-right: -16px; */
  padding-left: 46px;
  padding-right: 16px;
  background-color: #60b418;
  border-right: 3px solid #ffffff;
}
