.myToast {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;

  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes movedown {
  from {
    opacity: 0;
    transform: translate(0, -30px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes moveup {
  from {
    opacity: 1;
    height: auto;
    transform: translate(0, 0px);
  }
  to {
    opacity: 0;
    transform: translate(0, -43px);
    /*height: 0;*/
    /*margin-bottom: 0;*/
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    /*border: 0;*/
  }
}

.toastMessage {
  font-size: 14px;
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 10px;

  transition: margin-top 1s ease;

  animation-name: movedown, moveup;
  animation-duration: 1s, 1s;
  animation-delay: 0s, 5s;
  animation-timing-function: ease, ease-in;
}

.toastMessageSuccess {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.toastMessageInfo {
  background-color: #cce5ff;
  border-color: #b8daff;
}

.toastMessageError {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
