@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e9e9e9;
  color: #000000;
  overflow: auto;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

button {
  outline: none;
  background: white;
  border: none;
  /* padding: 0 10px; */
  line-height: 1.15;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

pre {
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  /* overflow: hidden; */
  margin: 0;
}

#appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

#appContent {
  width: calc(100% - 200px);
  padding: 10px 50px 30px 50px
}

.form-control {
  border-radius: 0;
}

.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 20px;
}

#card {
  margin-top: 1px;
  padding: 24px 32px;
  background-color: #f7f5f5;
  font-size: 0.9rem;
}

#cardHeader {
  padding: 0 32px;
  background-color: #f7f5f5;
  font-size: 1rem;
  text-overflow: ellipsis;
  width: 100%;
  /* overflow: hidden; */
  font-weight: 500;
  line-height: 48px;
}

hr {
  height: 2px !important;
  border-width: 0;
  color: #e9e9e9;
  background-color: #e9e9e9;
  margin: 0;
  opacity: 1;
}

label {
  display: inline;
  font-weight: bold;
  color: #5a5a5a;
}

input {
  border: 1px solid #d9d9d9;
  padding: 4px 7px;
  height: 30px;
  font-size: 14px;
  line-height: 1.5;
  outline: 0;
}

.form-control {
  font-size: 14px;
}

input:focus, select:focus, textarea:focus  {
  border: 1px solid #49a9ee;
  border-radius: 1px;
  outline: 0;
}

select {
  /*width: 100%;*/
  background: #ffffff;
  border: 1px solid #d9d9d9;
  padding: 4px 7px;
  height: 30px;
  font-size: 14px;
  line-height: 1.5;
  outline: 0;
  /*appearance: none;*/
  /*-webkit-appearance: none;*/
  /*-moz-appearance: none;*/
}

textarea {
  border: 1px solid #d9d9d9;
  padding: 4px 7px;
  font-size: 14px;
}

table, th, td {
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
}

th, td {
  padding: 16px 8px;
}

table {
  width: 100%;
  border-radius: 2px;
}

th {
  background-color: #f7f7f7;
  font-weight: normal;
  text-align: left;
}


body {
  .tippy-box {
    text-align: center;
    background-color: #545454be;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 14px;
    width: 200px;
  }

  .tippy-content {
    padding: 8px 9px;
  }
}